{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="row">
        <h3>What happens?</h3>
    </div>
    <form action="{{action}}" method="post">
        <div class="form-group row">
            <input autocomplete="off" autofocus class="form-control col-sm-6" id="title" name="title" placeholder="Title*" type="text">
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label text-left">Category*:</label>
            <select autocomplete="off" autofocus class="form-control col-sm-2" id="category" name="category" onchange="onChange(value)">
                {% for option in options %}
                    <option>{{option}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group row">
            <textarea class="form-control col-sm-9" id="message" name="message" rows="4" placeholder="Enter your text*"></textarea>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-1 col-form-label text-left">City*</label>
            <input class="form-control col-sm-3" id="city" name="city" value="Montreal">
        </div>
        <div class="row">
            <span class="col-form-label"><i>Enter address without postal code *</i></span>
        </div>
        <div class="form-group row">
            <textarea autocomplete="off" class="form-control col-sm-9" id="address" name="address" placeholder="Address*" type="text" rows="2"></textarea>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label text-left">Company</label>
            <input class="form-control col-sm-3" id="company" name="company">
        </div>
        <!--<div class="form-group row">
            <label for="image">Choose image of issue:</label>
            <input type="file"
                   class="form-control-file"
                   id="image" name="image"
                   accept="image/png, image/jpeg">
        </div>/-->
        <div class="form-group row">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <script>
        function onChange(value) {
        console.log('Value', value)
        }
    </script>
{% endblock %}