{% extends "layout.html" %}

{% block title %}
    List of claims
{% endblock %}

{% block main %}
<style>
    table {
        width: 100%;
        margin-bottom: 1rem;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 2px;
        border-color: grey;
    }
    table thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }
    table tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
</style>
    <div class="row">
        <h5>List of claims</h5>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Category</th>
                    <th>Address</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        {% for context in message %}
                            <td>{{ context }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}